.card{
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 0 1em 1em 1em;
}

.fa-user{
  font-size: 2em;
  text-align: center;
  color: orangered;
}

.user-firstname{
  font-size: 0.5em;
  position: relative;
  top:-5px;
}
.user-lastname{
  font-size: 0.5em;
  position: relative;
  top: -25px;
}





