.button{

  border-radius: 8px;
  color: #eeeeee;
  text-align: center;
  font-size: 45px;
  padding: 20px;
  width: 40%;
  margin-bottom: 10px;
  margin-left: 20px;
}


.initial{
  background-color: #9d6ede;
}
.red{
  background-color: #ef4250;
}
.green{
  background-color: #377e3b;
}
