.button:not(.active){

  border-radius: 8px;
  height: 100px;
  color: #eeeeee;
  text-align: center;
  font-size: 60px;
  width: 40%;
  padding: 6px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-family:   Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
  //font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-weight: 700;
  -webkit-text-stroke: 3px black;

}

.initial:hover{
  font-size: 70px;
  background-color: #8c5ece;
}


.initial{
  background-color: #9d6ede;
}
.red{
  background-color: #ef4250;
}

.red:hover {
  background-color: #ef4250;
  font-size: 70px;

}

.green{
  background-color: #377e3b;
}

.green:hover{
  background-color: #377e3b;
  font-size: 70px;
}

*{
  cursor:url(https://zupimages.net/up/22/13/5yh0.png), auto;
}
