
body {
  bottom: 10%;
  max-width: 800px;
  margin: 0 auto;
}

p {
  bottom: 1%;
  font-family: sans-serif;
  text-align: center;
  color: #3d3b3b;
}
.clearfix {
  clear: both;
}

label {
  float: left;
  width: 20%;
  line-height: 1.5;
  color: #3d3b3b;
}

.rate-value {
  float: right;
  width: 5%;
  margin-left: 15px;
  line-height: 1.5;
}

#rate{
  float: right;
  width: 60%;
  margin-top: 7px;
}

.controls {
  text-align: center;
}

.Changeme{
  position: absolute;
  bottom: 1%;
  left: 1%;
}

.ReponseGauche{
  position: absolute;
  color: #3d3b3b;
  top: 50%;
  left: 10%;
  right: 75%;
}
.ReponseDroite{
  position: absolute;
  color: #3d3b3b;
  top: 50%;
  right: 10%;
  left:75%;
}

.ReponseHaut{
  position: absolute;
  color: #3d3b3b;
  left: 40%;
  right: 40%;
  top: 30%;
}

.ReponseBas{
  position: absolute;
  color: #3d3b3b;
  left: 40%;
  right: 40%;
  top: 70%;
}

.fa-arrow-right{
  position: absolute;
  top: 50%;
  right:30%;
  color: #ff7f50;
  text-shadow: #3d3b3b 1px 1px, #3d3b3b -1px -1px, #3d3b3b 1px -1px, #3d3b3b -1px 1px;

}
.fa-arrow-up{
  position: absolute;
  left: 48%;
  right:52%;
  top: 40%;
  color: #ff7f50;
  text-shadow: #3d3b3b 1px 1px, #3d3b3b -1px -1px, #3d3b3b 1px -1px, #3d3b3b -1px 1px;

}
.fa-arrow-down{
  position: absolute;
  left: 48%;
  right:52%;
  top: 60%;
  color: #ff7f50;
  text-shadow: #3d3b3b 1px 1px, #3d3b3b -1px -1px, #3d3b3b 1px -1px, #3d3b3b -1px 1px;

}
.fa-arrow-left {
  position: absolute;
  top: 50%;
  left:30%;
  color: #ff7f50;
  text-shadow: #3d3b3b 1px 1px, #3d3b3b -1px -1px, #3d3b3b 1px -1px, #3d3b3b -1px 1px;

}


