
<meta charset="utf-8"/>

<br>
<div>
  <span class="keyboard" >Espace</span>
  Réécouter
  <span class="keyboard" >Entrée</span>
  Réécouter les consignes
</div>

<body>
<p class="question"> {{question}}</p>


<button class="ReponseHaut" id="haut" [ngStyle]="{'background-color': buttonColorhaut, 'color':colorhaut }"> {{answerList[0].value}}  </button>
<i class="fas fa-arrow-up fa-4x"></i>
<i class="fas fa-arrow-left fa-4x"></i>
<i class="fas fa-arrow-right fa-4x"></i>
<i class="fas fa-arrow-down fa-4x"></i>
<button class="ReponseDroite" id="droite" [ngStyle]="{'background-color': buttonColordroit, 'color':colordroit  }"> {{answerList[1].value}} </button>
<button class="ReponseBas" id="bas" [ngStyle]="{'background-color': buttonColorbas, 'color':colorbas  }"> {{answerList[2].value}}</button>
<button class="ReponseGauche" id="gauche" [ngStyle]="{'background-color': buttonColorgauche, 'color':colorgauche  }"> {{answerList[3].value}} </button>

<form class="Changeme" >
  <div>
    <label class="rate" for="rate">Vitesse:</label><input type="range" min="0.5" max="2" value="1" step="0.1" id="rate">
    <div class="clearfix"></div>
  </div>
  <div class="controls">
  </div>
</form>

</body>


