
body {
  bottom: 10%;
  max-width: 800px;
  margin: 0 auto;
}

.keyboard {
  position: relative;
  border-style: solid;
  padding: 7px;
}

p {
  bottom: 1%;
  font-family: sans-serif;
  text-align: center;
  color: #3d3b3b;
}
.clearfix {
  clear: both;
}

label {
  float: left;
  width: 20%;
  line-height: 1.5;
  color: #3d3b3b;
}

.rate-value {
  float: right;
  width: 5%;
  margin-left: 15px;
  line-height: 1.5;
}

#rate{
  float: right;
  width: 60%;
  margin-top: 7px;
}

.controls {
  text-align: center;
}

.Changeme{
  position: absolute;
  bottom: 1%;
  left: 1%;
}

.ReponseGauche{
  position: absolute;
  font-size: 40px;
  border-radius: 6px;
  top: 53%;
  left: 8%;
  right: 75%;
}
.ReponseDroite{
  position: absolute;
  top: 53%;
  right: 8%;
  font-size: 40px;
  left:75%;
  border-radius: 6px;
}

.ReponseHaut{
  position: absolute;
  font-size: 40px;
  left: 38%;
  right: 38%;
  top: 34%;
  border-radius: 6px;

}

.ReponseBas{
  position: absolute;
  font-size: 40px;
  left: 38%;
  right: 38%;
  top: 80%;
  border-radius: 6px;

}

.fa-arrow-right{
  position: absolute;
  top: 55%;
  right:30%;
  color: #ff7f50;
  text-shadow: #3d3b3b 1px 1px, #3d3b3b -1px -1px, #3d3b3b 1px -1px, #3d3b3b -1px 1px;

}
.fa-arrow-up{
  position: absolute;
  left: 48%;
  right:52%;
  top: 45%;
  color: #ff7f50;
  text-shadow: #3d3b3b 1px 1px, #3d3b3b -1px -1px, #3d3b3b 1px -1px, #3d3b3b -1px 1px;

}
.fa-arrow-down{
  position: absolute;
  left: 48%;
  right:52%;
  top: 65%;
  color: #ff7f50;
  text-shadow: #3d3b3b 1px 1px, #3d3b3b -1px -1px, #3d3b3b 1px -1px, #3d3b3b -1px 1px;

}
.fa-arrow-left {
  position: absolute;
  top: 55%;
  left:30%;
  color: #ff7f50;
  text-shadow: #3d3b3b 1px 1px, #3d3b3b -1px -1px, #3d3b3b 1px -1px, #3d3b3b -1px 1px;

}


.question{
  position: absolute;
  top: 12%;
  left: 5%;
  right: 5%;
  font-size: 45px;
}

