
<meta charset="utf-8"/>


<body>

<p class="question"> {{question}}</p>


<p class="ReponseHaut" id="haut" > {{answerList[0].value}}  </p>
<i class="fas fa-arrow-up fa-4x"></i>
<i class="fas fa-arrow-left fa-4x"></i>
<i class="fas fa-arrow-right fa-4x"></i>
<i class="fas fa-arrow-down fa-4x"></i>
<p class="ReponseDroite" id="droite"> {{answerList[1].value}} </p>
<p class="ReponseBas" id="bas"> {{answerList[2].value}}</p>
<p class="ReponseGauche" id="gauche"> {{answerList[3].value}} </p>

<form class="Changeme">
  <div>
    <label for="rate">Vitesse:</label><input type="range" min="0.5" max="2" value="1" step="0.1" id="rate">
    <div class="clearfix"></div>
  </div>
  <div class="controls">
  </div>
</form>

</body>


