<div class="card">
  <h2>Créer un nouveau quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      Nom du quiz <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'" placeholder="30 caractères max" maxlength="30" required size="30">
    </label>
    <br>
    <label for="theme">
      Thème <br>
      <input class="input-custom" type="text" id="theme" [formControlName]="'theme'" placeholder="30 caractères max" maxlength="30" required size="30">
    </label>
    <br>
    <input type="checkbox" [formControlName]="'cataracteOk'">
    Convient à la cataracte
    <br>
    <input type="checkbox" [formControlName]="'ceciteOk'">
    Convient à la cécité
    <br>
    <input type="checkbox" [formControlName]="'alzheimerOk'">
    Convient à Alzheimer
    <br>
    <button type="submit" class="button-card" (click)="addQuiz()">Créer</button>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
