@import '../../../styles/card.scss';

.answer-form {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}


.titre{
  text-align: center;
  font-size: 40px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #ff7f50;
  -webkit-text-stroke: 2px #3d3b3b;
}
.quiz-form{
  text-align: center;
  font-size: 25px;
}

.button-card2{
  border-radius: 6px;
  color: #3d3b3b;
  border-color: #3d3b3b;
  font-size: 25px;
  margin: 5px;
  width: 20%;

}

.button-card2:hover {
  cursor: pointer;
  transition-duration: 0.75s;
  background-color: coral;
}
