<h1 class="titre">
  Thèmes
</h1>
<div *ngIf="user.disease==='Cécité'">
  <i class="fas fa-arrow-circle-up"></i>Naviguer <br>
  <i class="fas fa-arrow-circle-down"></i> <br><br>
  <span class="keyboard" >Entrée</span>
  Valider
</div>
<br><br>
<div class="theme-list">
  <div class="theme" *ngFor="let theme of themeList">
    <i class="fas fa-arrow-right" *ngIf="themeList[currentTheme]===theme && user.disease==='Cécité'"></i> <button class="select"  routerLink="/{{user.id}}/{{theme}}">{{theme}}<br></button>
  </div>
</div>
