div{
  min-height: 100vh; width: 100%; margin: 0; padding: 0; background-color: rgba(148, 239, 156, 0.65)
}

.photo{
  padding: 40px;
}

.button{
  border-radius: 8px;
  color: #eeeeee;
  text-align: center;
  font-size: 80px;
  width: 40%;
  font-size: 65px;
  background-color: #8c5ece;
  padding: 6px;
  margin-bottom: 10px;
  margin-left: 20%;
  font-family:   Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
  font-weight: 700;
  vertical-align: bottom;
  -webkit-text-stroke: 2px black;

}


*{
  cursor:url(https://zupimages.net/up/22/13/5yh0.png), auto;
}
