.username{
  display:flex;
  margin: auto;
  justify-content: center;
  margin-top: 5%;
  font-size: 2em;
  color: #3d3b3b;
  text-shadow: #3d3b3b 1px 1px, #3d3b3b -1px -1px, #3d3b3b 1px -1px, #3d3b3b -1px 1px;
}

.button1{
  text-align: center;
  font-size: 2em;
  color: #ff7f50;
  font-family: Arial;
  position: absolute;
  left: 1%;
  right: 70%;
  top:45%;
  text-shadow: #3d3b3b 1px 1px, #3d3b3b -1px -1px, #3d3b3b 1px -1px, #3d3b3b -1px 1px;
}
.button2{
  text-align: center;
  font-size: 2em;
  color: #ff7f50;
  font-family: Arial;
  position: absolute;
  left: 35.5%;
  right: 42.5%;
  top:45%;
  text-shadow: #3d3b3b 1px 1px, #3d3b3b -1px -1px, #3d3b3b 1px -1px, #3d3b3b -1px 1px;
}
.button3{
  text-align: center;
  font-size: 2em;
  color: #ff7f50;
  font-family: Arial;
  position: absolute;
  top:45%;
  right: 1%;
  left: 60%;
  text-shadow: #3d3b3b 1px 1px, #3d3b3b -1px -1px, #3d3b3b 1px -1px, #3d3b3b -1px 1px;
}

.fa-user{
  font-size: 2em;
  color: #ff7f50;
  text-shadow: #3d3b3b 1px 1px, #3d3b3b -1px -1px, #3d3b3b 1px -1px, #3d3b3b -1px 1px;
  position: absolute;
  right:0.5%;
  top: 9%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.profiltext{
  color: #3d3b3b;
  font-size: 20px;
  padding-top: -10px;
  text-shadow: none;


}

.trouble{
  position: absolute;
  bottom:100px;
  color: #3d3b3b;
}

