<div class="card">
  <h2>
    <div align="right">
    <a class="home"[routerLink]="['/']" style="text-decoration: none"><i class='fas fa-user'> <span class="profiltext">{{user.firstName}} </span></i>  <br>
    </a>
      </div>
    <span class="username">
      Profil {{user.firstName}} {{user.lastName}}
    </span>
    <a class="button1" routerLink="/{{user.id}}/theme" style="text-decoration: none"><i class='fas fa-play-circle'></i><br><br>Jouer un quiz</a>
    <br><br>
    <a class="button2"[routerLink]="['/']" style="text-decoration: none"><i class='fas fa-history'> </i><br><br>Historique </a>
    <br><br>
    <a class="button3"routerLink="/{{user.id}}/configuration" style="text-decoration: none"><i class='fas fa-cog'> </i><br><br>Configurer le profil </a>
    <br><br><br><br><br>
    <a routerLink="/game" style="text-decoration: none">Visualiser quiz cataracte</a>
    <br>
    <span class="trouble">
    Trouble : {{user.disease}}
    </span>
  </h2>
</div>
