.quiz-list {
  display: flex;
  flex-wrap: wrap;
  max-height: 20em;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 10px;
  margin-left: 2em;
  margin-right: 2em;
  border-style: solid;
}

.quiz{
  width: 200px;
}
