.question{
  display: inline-block;
  background-color: #FFD700;
  color: #eeeeee;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  width: 80%;
  margin: 10px;


}


.button{
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 8px;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  margin: 5px;
}
