<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body [ngStyle]="{
    'background-color': choice.pageBackGround
    }">

  <div class = "question" [ngStyle]="{
    'background-color': choice.questionBackGround
    }"> {{question}} </div>

  <ng-template [ngIf]="photoURL" >
  <div class = "listQuestion" *ngFor="let rep of answerList">
  <app-answer-button [PhotoHere]="true" [answer]="rep" [actif]="jeuActif" (emetteur)="gestionClick($event)"></app-answer-button>
  </div>
  </ng-template>

  <ng-template [ngIf]="photoURL == null" >
    <div class = "listReponsesSansPhoto" *ngFor="let rep of answerList">
      <app-answer-button [PhotoHere]="false" [answer]="rep" [actif]="jeuActif" (emetteur)="gestionClick($event)" ></app-answer-button>
    </div>
  </ng-template>

  <div class = photoBouton *ngIf="photoURL">
  <img class ="photo" src= {{photoURL}} alt=" ">
  <input class = zoom type="button" value="Agrandir" (click)="zoom()">
  </div>


  <div class="feeddback" *ngIf="activeFeedback">
    <input class = buttonFeedback type="button" value="{{feedbackAction}}" (click)="refresh()">
  </div>


</body>
</html>
