<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div class = "question"> {{question}} </div>

  <div class = "listQuestion" *ngFor="let rep of answerList">
  <app-answer-button [answer]="rep" [actif]="jeuActif" (emetteur)="gestionClick($event)"></app-answer-button>
  </div>

  <div class = photoBouton>
  <img class ="photo" src= {{photoURL}}  alt="voiture">
  <input class = zoom type="button" value="Agrandir" (click)="zoom()">
  </div>


  <div class="feeddback" *ngIf="activeFeedback">
    <input class = buttonFeedback type="button" value="{{feedbackAction}}" (click)="refresh()">
  </div>


</body>
</html>
