.question{
  display: inline-block;
  background-color: #146385;
  color: #eeeeee;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  width: 80%;
  margin: 10px;


}


.listQuestion{
  width: 100%;
}
.button{
  background-color: #9d6ede;
  border-radius: 8px;
  color: #eeeeee;
  text-align: center;
  font-size: 32px;
  padding: 20px;
  width: 40%;
  margin-bottom: 10px;
  margin-left: 20px;
}
