.question{
  display: inline-block;
  background-color: #146385;
  color: #eeeeee;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  width: 80%;
  margin: 1%;
  margin-bottom: 5%;

}



.buttonFeedback{
  position: relative;
  background-color: #868404;
  color: #eeeeee;
  text-align: center;
  font-size: 60px;
  padding: 20px;
  width: 50%;
  left: 20%;
  margin-top: 5%;

}
