<div class="card">
  <h2>Créer un nouveau profil</h2>
  <form class="user-form" [formGroup]="userForm">
    <label for="firstName">
      Prénom <br>
      <input class="input-custom" type="text" id="firstName" [formControlName]="'firstName'">
    </label>
    <br>
    <label for="lastName">
      Nom <br>
      <input class="input-custom" type="text" id="lastName" [formControlName]="'lastName'">
    </label>
    <br>
    <br>
    Trouble :
    <br>
    <input type="radio" id="cataracte" name="groupe1" value="Cataracte" [formControlName]="'disease'" checked>
    <label for="cataracte">Cataracte</label>
    <br>
    <input type="radio" id="cecite" name="groupe1" value="Cécité" [formControlName]="'disease'">
    <label for="cecite">Cecité</label>
    <br>
    <input type="radio" id="alzheimer" name="groupe1" value="Alzheimer" [formControlName]="'disease'">
    <label for="alzheimer">Alzheimer</label>
    <br><br>
    <button type="submit" class="button-card" (click)="addUser()"> Créer un profil</button>
    <br>
    <button type="submit" class="button-card" [routerLink]="['/user-list']" style="text-decoration: none" > Retour</button>
  </form>
</div>
