.image-display-setting {
  width : 650px;
  height : 480px;
  //box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);

  box-sizing: border-box;
  box-shadow: lightgray 4px 4px 20px;
}

.button-select {
  background-color: #fca14e;
  font-size: 32px;
  padding: 15px 32px;
  border: none;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-select:hover {
  background-color: #cecece;
  color: #000000;
}

componentIm {
  display: flex;
  justify-content: center;
}

p {
  margin-top: 10px;
  padding: 3px;
}
