<div class="settings-box-image">
  <meta charset="UTF-8">
  <p> Configuration {{choice.Id}} </p>
  <div class="block">
    <div class="componentIm">
      <div class = "display-setting" [ngStyle]="{'background-color': choice.pageBackGround}">
        <h2 class="questionQuiz" [ngStyle]="{'background-color': choice.questionBackGround}"> Question ?</h2>
        <button class="reponse"> Réponse </button>
        <br>
        <button class="reponse"> Réponse </button>
        <br>
        <button class="reponse"> Réponse </button>
      </div>
    </div>
    <br>
    <div class="componentIm">
      <button (click)="onChoisirClick()" class="button-select" [ngStyle]="{
    'background-color': choice.buttonColor
    }" >Choisir</button>
    </div>
  </div>


</div>
