.image-display-setting {
  width : 650px;
  height : 480px;
  //box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);

  box-sizing: border-box;
  box-shadow: lightgray 4px 4px 20px;
}

.display-setting {
  width : 650px;
  height : 480px;

  padding: 10px 8px;
  background-color: #cecece;
  box-sizing: border-box;
  box-shadow: lightgray 4px 4px 20px;
}

.reponse {
  border-radius: 8px;
  font-size: 60px;
  font-family:   Segoe UI, sans-serif;
  font-weight: 500;
  padding: 6px;
  margin-bottom: 10px;
  margin-left: 5px;
  color: #eeeeee;
  background-color: #9d6ede;
}
.reponse:hover{
  font-size: 65px;
}

.questionQuiz {
  text-align: center;
  border-radius: 8px;
}

.button-select {
  background-color: #fca14e;
  font-size: 32px;
  padding: 15px 32px;
  border: none;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-select:hover {
  background-color: #cecece;
  color: #ffffff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.componentIm {
  margin-left: 5px;
  display: flex;
  justify-content: center;
}

p {
  margin-top: 10px;
  padding: 3px;
}

.settings-box-image {
  float: left;
  width: auto;
  justify-content: center;
  display: inline-block;
  margin-left: 5px;
}
