@import '../../../styles/card.scss';

.titre{
  text-align: center;
  color: #3d3b3b;
  font-size: 2em;

}
.quiz-list{
  //text-align: center;
  color: #3d3b3b;
}

.keyboard {
  position: relative;
  border-style: solid;
  padding: 7px;
}

.fa-arrow-circle-up{
  font-size: 3em;
}

.fa-arrow-circle-down{
  font-size: 3em;
}
