
<div [ngClass]="gotCataracte ? 'tout' : 'existepas'" >

<h1 class="titre" [ngClass]="{'titreCata': gotCataracte }">
  Quizzes : {{theme}}
</h1>
<div *ngIf="user.disease==='Cécité'">
  <i class="fas fa-arrow-circle-up"></i>Naviguer <br>
  <i class="fas fa-arrow-circle-down"></i> <br><br>
  <span class="keyboard" >Entrée</span>
  Valider
</div>
<br><br>
<div class="quiz-list">
  <div class="quiz-list" *ngFor="let quiz of quizThemeList">
    <i class="fas fa-arrow-right" *ngIf="user.disease==='Cécité' && quizThemeList[currentQuiz] === quiz"></i>
    <button class="select" [ngClass]="gotCataracte ? 'listeCata' : 'select'" routerLink="/game/{{user.id}}/{{quiz.id}}">{{quiz.name}}<br></button>
  </div>
</div>

</div>

