.selectionnerProfil{
  text-align: center;
}


#searchbar{
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
  color: black;
  width:40%;
  padding: 10px;
  font-size: 20px;
}

.users{
  flex-wrap: wrap;
  display:flex;
  margin: auto;
  justify-content: center;
  margin-top: 40px;
  border-style: solid;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 20em;
}

.creationProfil{
  /*margin-top: -50px;
  position: relative;
  text-align: center;
  font-size: 30px;*/
  margin: auto;
  bottom: 1em;
  left: 1em;
  position: absolute;
  text-align: center;
  font-size: 30px;

}

.fa-plus-circle{
  color: #9a2c2c;
}

.creationQuiz{
  bottom: 1em;
  right: 1em;
  position: absolute;
  text-align: center;
  font-size: 30px;
  color: #9a2c2c;
}
