<div class="user-list">
  <h1 class="selectionnerProfil">Sélectionner un profil
  </h1>
    <input id="searchbar" onkeyup="" type="text"
           name="search" placeholder="Rechercher un profil">
  <br>
  <div class="users">
    <div *ngFor="let user of userList">
      <app-user [user]="user" (deleteUser)="deleteUser($event)"></app-user>
    </div>
    <a class="quizProfil" [routerLink]="['/user-create']" style="text-decoration: none"> <i class="fas fa-plus-circle"> </i> </a>
  </div>
  <br>
  <div class="creationProfil">
  <a class="iconProfil"[routerLink]="['/user-create']" style="text-decoration: none"><i class='fas fa-plus-circle'> <br>Ajouter un profil</i> </a>
  </div>
  <br>
  <div class="creationQuiz">
      <a [routerLink]="['/quiz-list']" style="text-decoration: none"><i class='fas fa-plus-circle'> <br>Créer un quiz</i></a>
  </div>
  <span class="creationQuiz">
  <a [routerLink]="['/quiz-list']" style="text-decoration: none">Créer un quiz</a>
  </span>
</div>

<!-- Dans le "searchBar" et dans le onkeyup on doit mettre le nom d'une
fonction qui retournera le profil choisi a parti du prenom ou nom -->
