<div class="user-list">
  <h1 class="selectionnerProfil">Sélectionner un profil
  </h1>
  <input id="searchbar" onkeyup="" type="text"
         name="search" placeholder="Rechercher un profil">
  <br>
  <div class="users">
    <div *ngFor="let user of userList">
      <app-user [user]="user" (deleteUser)="deleteUser($event)"></app-user>
    </div>
  </div>
  <br>
  <br>
  <div class="creationProfil">
    <a class="iconProfil"[routerLink]="['/user-create']" style="text-decoration: none; color: #9a2c2c"><i class='fas fa-plus-circle'></i> <br>Ajouter un profil </a>
  </div>
  <br>
  <div class="creationQuiz">
    <a [routerLink]="['/quiz-list']" style="text-decoration: none; color: #9a2c2c"><i class='fas fa-plus-circle'> </i><br>Créer un quiz</a>
  </div>
</div>

<!-- Dans le "searchBar" et dans le onkeyup on doit mettre le nom d'une
fonction qui retournera le profile choisi a parti du prenom ou nom -->
