@import '../../../styles/card.scss';

.quizName{
  color: #f57c0c;
  -webkit-text-stroke: 1px black;
}

.titre{
  text-align: center;
  font-size: 40px;
  font-family: "Segoe UI", Arial, sans-serif;

}


.button-card2{
  border-radius: 6px;
  color: #3d3b3b;
  border-color: #3d3b3b;
  font-size: 30px;
  position: absolute;
}

.button-card2:hover {
  cursor: pointer;
  transition-duration: 0.75s;
  background-color: coral;
}
